i.practice {
  background: img-url('practice/help.svg');
  background-size: cover;
}
.TLjPbQh8 {
  background-image: img-url('practice/cement-shoes.svg');
}
.iQ9QPtrH {
  background-image: img-url('practice/key.svg');
}
.vzdRCU2J {
  background-image: img-url('practice/back-forth.svg');
}
.A11UbKaq {
  background-image: img-url('practice/pocket-bow.svg');
}
.XZO2g9v7 {
  background-image: img-url('practice/divert.svg');
}
.JJ5SnEJy {
  background-image: img-url('practice/upgrade.svg');
}
.\39 63Urwyd {
  background-image: img-url('practice/rogue.svg');
}

.ptQ1LLvm {
  background-image: img-url('practice/backstab.svg');
}
.E1lqtqFt {
  background-image: img-url('practice/arrowed.svg');
}
.A4ujYOer {
  background-image: img-url('practice/push.svg');
}
.\39 ogFv8Ac {
  background-image: img-url('practice/voodoo-doll.svg');
}
.Qj281y1p {
  background-image: img-url('practice/trident.svg');
}
.tuoBxVE5 {
  background-image: img-url('practice/pierced-body.svg');
}
.ApugRNCc {
  background-image: img-url('practice/stone-pile.svg');
}
.Rg2cMBZ6 {
  background-image: img-url('practice/stone-spear.svg');
}
.\38 yadFPpU {
  background-image: img-url('practice/sword-in-stone.svg');
}
.PDkQDt6u {
  background-image: img-url('practice/catapult.svg');
}
.\39 6Lij7wH {
  background-image: img-url('practice/musket.svg');
}
.o734CNqp {
  background-image: img-url('practice/breaking-chain.svg');
}
.MnsJEWnI {
  background-image: img-url('practice/boxing-glove-surprise.svg');
}
.jKTvTbGl {
  background-image: img-url('practice/two-shadows.svg');
}
.s5pLU7Of {
  background-image: img-url('practice/trojan-horse.svg');
}
.g1fxVZu9 {
  background-image: img-url('practice/bolt-shield.svg');
}
.\39 c6GrCTk {
  background-image: img-url('practice/siege-tower.svg');
}
.Z1DKk4Rl {
  background-image: img-url('practice/stone-crafting.svg');
}
.ByhlXnmM {
  background-image: img-url('practice/ghost-ally.svg');
}
.pt20yRkT {
  background-image: img-url('practice/stone-tower.svg');
}
.MkDViieT {
  background-image: img-url('practice/guarded-tower.svg');
}
