i.practice {
  background: img-url('practice/help.svg');
  background-size: cover;
}

// frisian: move man
.PeOtngtZ, .iVndr44D {
  background-image: img-url('practice/stone-pile.svg');
}
// frisian: capture man
.zn5H9gUj, .ZKzyM82F {
  background-image: img-url('practice/bowman.svg');
}
// frisian: promote
.\32 bL9yBUR, .HJV7nvrZ {
  background-image: img-url('practice/upgrade.svg');
}
// frisian: move king
.lGtNryNR, .O8OZWLCl {
  background-image: img-url('practice/divert.svg');
}
// frisian: capture king
.D30hilww, .\32 K4VeSpe {
  background-image: img-url('practice/spinning-blades.svg');
}
// frisian: choice of capture
.aO52F9SE, .NcIq2t4Y {
  background-image: img-url('practice/back-forth.svg');
}
// frisian: 3-move rule
.bjy5HO8C, .sGVw5r9u {
  background-image: img-url('practice/number-3.svg');
}
// frisian: 7-move rule
.jClEaVnK, .\32 KVZ14MV {
  background-image: img-url('practice/number-7.svg');
}
// frisian: win or draw
.\35 sM7ECBS, .\39 4uwLUIS {
  background-image: img-url('practice/scales.svg');
}

.FZ9TH0fa {
  background-image: img-url('practice/cement-shoes.svg');
}
.A11UbKaq {
  background-image: img-url('practice/pocket-bow.svg');
}


.REfZGzjr {
  background-image: img-url('practice/rogue.svg');
}
.\33 C3fAKbG {
  background-image: img-url('practice/ghost-ally.svg');
}
.\38 g9puTqO {
  background-image: img-url('practice/detour.svg');
}
.\39 63Urwyd {
  background-image: img-url('practice/key.svg');
}
.lIvZgWkF {
  background-image: img-url('practice/two-shadows.svg');
}

.ptQ1LLvm {
  background-image: img-url('practice/backstab.svg');
}
.E1lqtqFt {
  background-image: img-url('practice/arrowed.svg');
}
.A4ujYOer {
  background-image: img-url('practice/push.svg');
}
.\39 ogFv8Ac {
  background-image: img-url('practice/voodoo-doll.svg');
}
.Qj281y1p {
  background-image: img-url('practice/trident.svg');
}
.tuoBxVE5 {
  background-image: img-url('practice/pierced-body.svg');
}
.Rg2cMBZ6 {
  background-image: img-url('practice/stone-spear.svg');
}
.\38 yadFPpU {
  background-image: img-url('practice/sword-in-stone.svg');
}
.PDkQDt6u {
  background-image: img-url('practice/catapult.svg');
}
.\39 6Lij7wH {
  background-image: img-url('practice/musket.svg');
}
.o734CNqp {
  background-image: img-url('practice/breaking-chain.svg');
}
.MnsJEWnI {
  background-image: img-url('practice/boxing-glove-surprise.svg');
}
.s5pLU7Of {
  background-image: img-url('practice/trojan-horse.svg');
}
.g1fxVZu9 {
  background-image: img-url('practice/bolt-shield.svg');
}
.\39 c6GrCTk {
  background-image: img-url('practice/siege-tower.svg');
}
.Z1DKk4Rl {
  background-image: img-url('practice/stone-crafting.svg');
}
.pt20yRkT {
  background-image: img-url('practice/stone-tower.svg');
}
.MkDViieT {
  background-image: img-url('practice/guarded-tower.svg');
}
